<!DOCTYPE html>
<html>
<head>
    <style>

        .welcome{
            display: flex;
            justify-content: center;
            align-items: center;
        }
     

    </style>
</head>
<body>
    <h1 class="welcome">Create a new account</h1>
    
    <form action="/register">
        <div class="container">
            <label for="teamname"> <b>Team name:</b></label><br>
            <input type="text" placeholder="Enter your team name" name="teamname" required><br>
        
            <label for="uname"> <b>Username:</b></label><br>
            <input type="text" placeholder="Enter Username" name="uname" required><br>
        
            <label for="psw"><b>Password:</b></label><br>
            <input type="password" placeholder="Enter Password" name="psw" required><br>

            <label for="psw2"><b>Confirm password:</b></label><br>
            <input type="password" placeholder="Confirm Password" name="psw2" required><br>

        </div>
    </form>

</body>
</html>